<%= form_for @book do |b| %>

  <div class="input-group">
    <%= b.label :título %><br>
    <%= b.text_field :title %>
  </div>

  <div class="input-group">
    <%= b.label :autor %><br>
    <%= b.text_field :author %>
  </div>

  <div class="input-group">
    <%= b.label :país %><br>
    <%= b.text_field :country %>
  </div>

  <div class="input-group">
    <%= b.label :editorial %><br>
    <%= b.text_field :editor %>
  </div>

  <div class="input-group">
    <%= b.label :año %><br>
    <%= b.text_field :year %>
  </div>

  <div class="input-group"
  <%= b.label :read, 'Leído' %><br>
  <%= b.radio_button :read, '1', :checked => true %><%= label :read, 'Si' %>
  <%= b.radio_button :read, '0', :checked => false %><%= label :read, 'No' %>
  </div>

  <p>
  <%= b.submit %>
  </p>
<% end %>

