<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Autor</th>
      <th>Título</th>
      <th>País</th>
      <th>Editorial</th>
      <th>¿Leído?</th>
      <th>¿Prestado?</th>
      <th>Opciones</th>
      <th></th>
    </tr>

    <% @book.each do |b| %>
      <tr>
	<td><%= b.author %></td>
	<td><%= link_to b.title, book_path(b) %></td>
	<td><%= b.country_name %></td>
	<td><%= b.editor %></td>
	<% if b.read? %>
	  <td>Si</td>
	<% else %>
	  <td>No</td>
	<% end %>
	<% if b.borrowed? %>
	  <td>Si</td>
	<% else %>
	  <td>No</td>
	<% end %>
	<td>
	  <%= link_to '✍', edit_book_path(b), { :title => "Editar" } %> <%= link_to '☠', book_path(b), method: :delete, data: { confirm: 'Estás segura?' } %>
	</td>
      </tr>
    <% end %>

  </table>
</div>
