<p>
<strong>Título:</strong>
<%= @book.title %>
</p>

<p>
<strong>Autor:</strong>
<%= @book.author %>
</p>

<p>
<strong>País:</strong>
<%= @book.country %>
</p>

<p>
<strong>Editorial:</strong>
<%= @book.editor %>
</p>

<p>
<strong>Año:</strong>
<%= @book.year %>
</p>

<p>
<strong>¿Leído?:</strong> <%= @book.read %>
</p>

<p>
<strong>¿Prestado?:</strong> <%= @book.borrowed %>
</p>

<p>
<strong>Prestado a: </strong> <%= @book.borrowed_to %>
</p>

<%= link_to 'Volver', books_path %> - <%= link_to 'Agregar otro libro', new_book_path %>
