<div class="col-xs-4">
<ul class="list-group">
  <li class="list-group-item"> <strong>Título:</strong> <%= @book.title %>
  <li class="list-group-item"> <strong>Autor:</strong> <%= @book.author %>
  <li class="list-group-item"> <strong>Género:</strong> <%= @book.genre %>
  <li class="list-group-item"> <strong>País:</strong> <%= @book.country_name %>
  <li class="list-group-item"> <strong>Editorial:</strong> <%= @book.editor %>
  <li class="list-group-item"> <strong>Año:</strong> <%= @book.year %>
  <li class="list-group-item"> <strong>¿Leído?:</strong> <%= @book.read %>
  <li class="list-group-item"> <strong>¿Prestado?:</strong> <%= @book.borrowed %>
  <li class="list-group-item"> <strong>Prestado a: </strong> <%= @book.borrowed_to %>
</ul>
<%= link_to 'Volver', books_path %> - <%= link_to 'Agregar otro libro', new_book_path %>
</div>
