<p>
<strong>Título:</strong>
<%= @book.title %>
</p>

<p>
<strong>Autor:</strong>
<%= @book.author %>
</p>

<p>
<strong>País:</strong>
<%= @book.country %>
</p>

<p>
<strong>Editorial:</strong>
<%= @book.editor %>
</p>

<p>
<strong>Año:</strong>
<%= @book.year %>
</p>

<%= link_to 'Volver', books_path %>
