<%= render 'header' %>
<h1><%= @book.title %>.</h1>
<h3><%= @book.author %>.</h3>
<br>
<div class="row">
    <div class="col-sm-3">
        <strong>Género:</strong> <%= @book.genre %> <br>
        <strong>Editorial:</strong> <%= @book.editor %> <br>
        <strong>País:</strong> <%= @book.country_name %> <br>
        <strong>Año:</strong> <%= @book.year %> <br>
        <br>
    </div>
    <div class="col-sm-3">
        <strong>¿Leído?:</strong> <% if @book.read? %> Si <% else %> No <% end %> <br>
        <strong>¿Prestado?:</strong> <% if @book.borrowed? %> Si <% else %> No <% end %> <br>
        <% if @book.borrowed? %>
            <strong>Prestado a: </strong> <%= @book.borrowed_to %> <br>
        <% end %>
    </div>
</div>

